<p id="notice"><%= notice %></p>

<h1>My Recipes</h1>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Time (in minutes)</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
    
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.time %></td>
        <td><%= recipe.time_eaten %></td>
        <td><%= link_to 'Show Details', recipe, :class => "btn btn-outline-success" %></td>
        <td><%= link_to 'Edit Recipe', edit_recipe_path(recipe), :class => "btn btn-outline-success" %></td>
        <td><%= link_to 'Destroy Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-success" %></td>
      </tr>
    <% end %>
    
  </tbody>
  
  
</table>

<br>

<div>
<%= link_to 'New Recipe', new_recipe_path, :class => "btn btn-outline-success" %>
</div>

<br>

<%
=begin%>
 <div class="col-lg-12 mt-5">
  <% if flash[:alert] %>
    <div class="alert alert-warning"><%= flash[:alert] %></div>
  <% end %>
  <div class="mx-auto mt-5" style="width: 400px">
      <%= form_with(url: search_path, method: 'get', local: true) do %>
         <div class="form-group">
            <%= label_tag :recipe, 'Search for a recipe '%>
            <%= text_field_tag :recipe, nil, placeholder: 'Eg. chocolate', class: 'form-control' %>
         </div>
      <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
      <% end %>
  </div>
</div> 
<%
=end%>

</br>
</br>

<h1>When to Eat</h1>

<br>
<%= week_calendar events: @recipes do |date, recipes| %>
  <%= date %>

  <% @recipes.each do |recipe| %>
    <div>
      <% if recipe.time_eaten == date %>
        <%= link_to recipe.name, recipe %>
      <% end %>
    </div>
  <% end %>
<% end %>

</br>

<h1>Shopping List</h1>
<% @recipes.each do |recipe| %>
  <% recipe.ingredients.each do |ingredient| %>
    <ul class="list-group">
       <li class="list-group-item">
        <% if ingredient.shopping == true %>
          <%="#{ingredient.qty} #{ingredient.unit} #{ingredient.name}" %>
        <% end %>
       </li>
    </ul>
  <% end %>
  <% end %>
<br>



