
<%= link_to 'Home', recipes_path %>
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= "#{@recipe.time} minutes "%>
</p>

<div id="ingredients_wrapper">
 <strong>Ingredients:</strong>
 <%= render @recipe.ingredients %>
 <div id="form">
  <%= render "ingredients/form" %>
 </div>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |

