
<h2>Your recipe:</h2>

<p>
  
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= "#{@recipe.time} minutes "%>
</p>

<p>
  <strong>Date:</strong>
  <%= "#{@recipe.when}"%>
</p>


<%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => "btn btn-outline-success" %> 
<br>
<br>

<div id="ingredients_wrapper">
 <h2>Ingredients:</h2>
 <%= render @recipe.ingredients %>
 <div id="form">
  <%= render "ingredients/form" %>
 </div>
</div>


