<p><strong>Your recipe:</strong></p>

<p>
  
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= "#{@recipe.time} minutes "%>
</p>

<p>
  <strong>Date:</strong>
  <%= "#{@recipe.time_eaten}"%>
</p>


<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> 
<br>
<br>

<div id="ingredients_wrapper">
 <strong>Ingredients:</strong>
 <%= render @recipe.ingredients %>
 <div id="form">
  <%= render "ingredients/form" %>
 </div>
</div>


